@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Blog>

<!--@ViewBag.count--->
@foreach (var item in Model)
{
<div class="post-preview">
   <a asp-controller="Home"
       asp-action="Detail" 
       asp-route-id="@item.Id">
    <h2 class="post-title">
      @item.Title
    </h2>
  </a>
  <p class="post-subtitle">
    @item.Description
  </p>
  
  <p class="post-meta">
    @foreach (var category in item.BlogCategories)
    {
      <a href="#">
        <span class="badge badge-primary">@category.Category.CategoryNName</span>
      </a>
    }
  @DateTime.Now.ToString("dd/MM/yyyy")</p>
</div>
}  
          
